<div class="bg-white rounded-lg shadow p-6 mb-4">
  <div class="flex items-start space-x-4">
    <%= link_to profile_path(username: murmur.user.username) do %>
      <%= user_avatar(murmur.user, size: 48) %>
    <% end %>
    <div class="flex-grow">
      <div class="flex items-center mb-2">
        <%= link_to profile_path(username: murmur.user.username), class: "text-blue-500 font-bold hover:underline" do %>
          <%= murmur.user.username %>
        <% end %>
        <span class="text-gray-500 text-sm ml-2">
          <%= time_ago_in_words(murmur.created_at) %> ago
        </span>
      </div>
      
      <p class="text-gray-800 mb-4"><%= murmur.content %></p>
      
      <div class="flex items-center space-x-4">
        <div class="flex items-center">
          <% if current_user&.liked?(murmur) %>
            <%= button_to murmur_like_path(murmur_id: murmur.id), method: :delete, class: "text-red-500 hover:text-red-700" do %>
              <i class="fas fa-heart"></i>
              <span class="ml-1"><%= murmur.likes_count %></span>
            <% end %>
          <% else %>
            <%= button_to murmur_like_path(murmur_id: murmur.id), method: :post, class: "text-gray-500 hover:text-red-500" do %>
              <i class="far fa-heart"></i>
              <span class="ml-1"><%= murmur.likes_count %></span>
            <% end %>
          <% end %>
        </div>

        <% if current_user == murmur.user %>
          <%= button_to murmur_path(murmur), method: :delete, 
              class: "text-gray-500 hover:text-red-500",
              data: { turbo_confirm: "Are you sure you want to delete this murmur?" } do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
